.main {
	background-image: url(../img/main.jpg);
	background-size: 100% 100%
}

.main div {
	background-color: rgba(64,64,64,0.3);
	margin: 15px;
	border-radius: 15px;
	margin-bottom: 0px;
	

}

.main p {
	color: #F0F0F0
}

.main h2 {
	font-family: Georgia;
	color: #F0F0F0;
}

#info1 {
	margin-top: 50px;
	width: 50%;
	float: left
}

#info2 {
	width: 50%;
	float: left
}

.main ul li {
	color: #f0f0f0;
}